# Bytecode y cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Logs y bases de datos locales
*.log
logs/
*.db
*.sqlite3

# Empaquetado / PyInstaller
*.spec
build/
dist/
downloads/
eggs/
*.egg-info/
*.egg
wheels/
*.whl

# Variables de entorno
.env
.env.*
# A menudo se incluye un ejemplo no sensible
!.env.example

# Pruebas y cobertura
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml

# Editores e IDEs
# PyCharm, IntelliJ IDEA
.idea/
# Visual Studio Code
.vscode/
*.sublime-project
*.sublime-workspace
# NetBeans
nbproject/
# Vim swap files
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Notebooks
.ipynb_checkpoints
